<h1>Most recent pictures</h1>
<%= link_to "New Pictures", "#{pictures_url}/new" %>
<p><%= Picture.created_before(1.month.ago).count %><p>

<ul>
	<% @most_recent_five.each do |picture|  %>
		<li><%= picture.title %></li>
	<% end %></ul>


