<h1>Most recent pictures</h1>
<%= link_to "New Pictures", "#{pictures_url}/new" %>

<ul>
	<% @most_recent_five.each do |picture|  %>
		<li><%= picture.title %></li>
	<% end %></ul>
	<p>
	Past Picture Count: <%= Picture.created_before(@created_before).count %>
	<p>


